.logo {
    /* width: 100px; */
    height: 100px;
    display: block;
    margin: 0 auto;
    padding: 8px;
}
.text-pink{
    color: #f06292  ;
}

.portfolio-item{
    max-height: 350px;
    min-height: 349px;
    background-color: #1a1b1b;
}

.portfolio-img{
    max-height: 350px;
    min-height: 349px;
    object-fit: fill;
}

.portfolio-img img{
    object-fit: cover;
    
    /*rellenar el contenedor*/
    width: 100%;
    height: 100%;

}
.bg-primary-80 {
    background-color: #64b5f6 80 !important;
  }
.marka{
    padding: 16px;
}
.marka img{
    margin: 20px;
    max-width: 20%;
    border-radius: 8px;
}
#card-info:hover{
    outline: none !important;
}
#bodyModal{
    /* background-color: #d0d0d0; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 100%;
    flex-direction: row;
}

#bodyModal img{
    width: 70%;
    height: 100%;
    object-fit: cover;
    border : 1px solid #1a1b1b;
    max-width: 70%;
}
#bodyModal .card{ 
    width: 30%;
    border: none;
    min-width: 30%;
    align-self: stretch;
}

#bodyModal .card h4{
    font-size: 24px;
    font-weight: bold;
    font-weight: normal;
    border-bottom: #adadad 1px solid;
}
#bodyModal .card p{
    font-size: 14px;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 0px !important;
}
.card ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.card ul li{
    content: "\f0da";
    font-family: FontAwesome;
    width: 16px;
    height: 16px;
    margin: 4px;
    border-radius: 50%;
}
.vision-body{
    background-image: url(../img/emprendedor.svg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* border-top: #f06292   4px solid; */
    /* border-bottom: #f06292   4px solid; */
    padding: 0 40px 0 40px;
    overflow: hidden;
    max-height: 450px;
}
.vision-body img{
    width: 500px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    margin: 40px;
    /* border : 6px solid #f06292  ; */
}
.vision-body .title{
     align-self: flex-start;
     display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.vision-body .content{
    background-color: #64b5f6  ;
    width: 80%;
    padding: 16px;
    text-align: center;
    color : #fff;
    border-radius: 0px 0px 20px 20px;
    border-left : 3px solid #f06292  ;
    border-right : 3px solid #f06292  ;
    border-bottom : 3px solid #f06292  ;
}
.vision-body .title button{
   
   
    margin-top: 32px;
    margin-bottom: 32px;
    
}

.separador{
    background-color: #3d3d3d;
    width: 100%;
    text-align: center;
    padding: 24px;
    color: #f06292  ;
    font-size: 20px;
    font-weight: bold;
}

.catologo-home {
    margin: 0 !important;
    border-radius: 0px !important;
    max-height: 250px;
}
.mt-8{
    margin-top: 120px;
}
.logo-horizontal{
    width: 60%;
    height: 100%;
    object-fit: cover;
    /* max-width: 100%;
    max-height: 100%; */
}

.catalog-transition {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

td i {
    cursor: pointer;
}

td i:hover {
    background-color: #f06292;
    color: #000;
}

.login-container {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px #ddd;
    margin: 100px auto;
    max-width: 400px;
    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

@media (max-width: 600px) {
    .login-container {
        margin: 50px auto;
    }
}


/* media query */
/* celular */
@media (max-width: 767px) {
    .embed-responsive-16by9::before {
         padding-top: 0px !important; 
        
    }
    #bodyModal{
        flex-direction: column;
    }
    #bodyModal img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border : 1px solid #1a1b1b;
        max-width: 100%;
    }
    #bodyModal .card{
        width: 100%;
        min-width: 100%;
    }
    .vision-body{
        flex-direction: column;
        /* max-height: 100%; */
        padding: 0 2px 0 2px;
    }
    .vision-body img{
        display: none;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 50%;
        margin: 40px;
        /* border : 6px solid #f06292  ; */
    }
    .vision-body .title{
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .vision-body .content{
        background-color: #64b5f6  ;
        width: 80%;
        padding: 16px;
        text-align: center;
        color : #fff;
        border-radius: 0px 0px 20px 20px;
        border-left : 3px solid #f06292  ;
        border-right : 3px solid #f06292  ;
        border-bottom : 3px solid #f06292  ;
    }
    .vision-body .title button{
        background-color: #64b5f6  !important;
        margin-top: 32px;
        margin-bottom: 32px;
        border: none;
    }

}